body {
  margin: 0;
  padding: 0;
  font-family: " merriweather" serif;
  background-color: #ffebc1;
}

/* Navigation bar */
.navbar {
  padding: 0 0 o 4.5rem;
  background-color: #ffebc1;
}

.navbar-brand {
  padding-left: 20px;
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 18px 5px 0;
}
.nav-item:hover {
  border-bottom: 3px solid #8E3200;
}
.nav-link {
  font-family: "ubuntu";
  font-size: 1.2rem;
}

.offcanvas-body {
  background-color: #ffebc1;
  font-family: "ubuntu";
}

.offcanvas-header {
  background-color: #fae1ab;
}


/* texts */
h6 {
  color: #8E3200;
}
h5 {
  font-size: 1.5rem;
}
h4 {
  color: #8E3200;
  font-weight: bold;
}
.name {
  color: #8d8989;
}

.welcome-text {
  text-align: center;
  font-family: 'montserrat' 'san-serif';
  padding: 10% 0%;
  position: relative;
  line-height: 1.5;
  color: #8d8989;
}

.bold-text {
  font-size: 5rem;
  background-color: #d7a86e;
  background-image: linear-gradient(
    271deg,
    #541690 30%,
    #ff4949 50%,
    #ff8d29 70%,
    #ffcd38 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 20px;
}

.paragraph {
  color: #8d8989;
  position: relative;
  padding: 100px 0 80px;
  line-height: 2;
  font-weight: bolder;
  font-size: 1.5rem;
 
  
}

.sub-heading {
  text-align: center;
  border: 5px solid #8E3200;
  color: #8E3200;
  width: 220px;
  margin: auto;
  padding: 10px;
  border-radius: 45% 45%;
}

.wrapping {
  background-color: #fae1ab;
  border-radius: 3%;
  position: relative;
}

.inner-wrapping {
  padding: 5% 0;
  position: relative;
}
/* title */

#title, #about-me {
  padding: 8% 100px 0%;
}

/* welcome page */
.animate {
  position: relative;
}
.animate-a {
  display: inline-block;
  animation-duration: 6s;
  animation-name: slide-in;
  text-align: center;
  animation-delay: 1s;

 

}
@keyframes slide-in {
  from {
    margin-left: -70%;
    width: 50%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.animate-b {
  display: inline-block;
  text-align: center;
  animation-duration: 6s;
  animation-name: slide;
  animation-delay: 1s;

 
}
@keyframes slide {
  from {
    margin-left: 40%;
    width: 80%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* about me/skills */

.inner-div {
  margin-top: 50px;
}
.skill-row {
  margin-top: 3%;
  padding: 0 5% ;
}
.skillrow-2{
  margin-top: 10%;
}
.skill-img {
  width: 50px;
  padding-bottom: 20px;
  
}
.frame {
  background-color: #d4a163;
  width: 300px;
  height: 500px;
  border-radius: 0 50% 0 50%;
  position: relative;
  float: left;
  margin-right: 40px;
}

.image-frame {
  height: 400px;
  width: 200px;
  position: absolute;
  border-radius: 30% 0 30% 0;
  left: 100px;
  top: 99px;
}
.skill-table{
  text-align: center;
  margin-top: 20px;
  border-left: 1px solid #8d8989;
  border-style: none  none  none dashed  ;
}
.skill-table:first-child {
  border-left: 0px;
}
table {
  margin-top: 3%;
}

td {
  padding: 10px 5px;
  color: #535353;
  text-align: left;
}

#contact-me {
  margin: 5% 0 0 ;
  background-color: #d69b52;
}
.inner-footer {
  text-align: center;
  padding: 5% 5% 0;
}
.contact-text{
  font-size: 1.2rem;
  font-weight: bolder;
  padding:20px;
}
.bottom-container {
  padding-top: 20px;
  line-height: 2;
  text-align: center;
}
.contact {
  width: 100px;
}
.footer-link {
  margin: 20px;
  color:#8E3200 ;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;

}
#dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  overflow: auto;
}
#dropdown:hover .dropdown-content {
  display: block;

}
.credit {
  color: #EAF6F6;
  font-size: 0.8rem;
  padding: 20px 0 0;
}
@media (max-width: 950px) {
  #title{
    padding-top: 28% ;
  }
  .skill-table {
    border-left: 0;
  border-style: none ;
  }
}